# Python
__pycache__/
*.pyc
*.pyo
*.pyd
config.ini
requirements.txt
# Virtual Environment
venv/
env/
*.env
env.bak/
env/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.bak
*~
